[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/home/clayauld/Clearpath/catkin_ws/install/share/teleop/icons/jackal.jpg
Name[en_US]=Jackal Teleop
Exec=rosrun teleop jackal-teleop.sh
#Exec=/usr/bin/jackal-teleop.sh
Name=Jackal Teleop
Icon=/home/hatfield/Clearpath/icons/jackal.jpg
