[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/home/hatfield/Clearpath/ROS_Packages/teleop/icons/jackal.jpg
Name[en_US]=Jackal Teleop
Exec=/home/hatfield/Clearpath/ROS_Packages/teleop/jackal-teleop.sh
Name=Jackal Teleop
Icon=/home/hatfield/Clearpath/ROS_Packages/teleop/icons/jackal.jpg
